body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.validator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e4a62;
  border: 5px solid #253a4e;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

h1 {
  margin: -5px 0 5px 0;
}

input {
  width: 100%;
  height: 100%;
  margin: 0 0 10px 0;
  background-color: #f0f4f8;
  border: 3px solid #9bb7d0;
  border-radius: 5px
}

span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 50%;
  height: 50%;
  margin: 0 5px 10px 5px;
  background-color: #6993b8;
  border: 3px solid #456f93;
  border-radius: 5px;
  font-size: 1.5rem
}

p {
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
  margin: 0 0 -5px 0;
  background-color: #203344;
  border: 3px solid #172531;
  border-radius: 5px;
  font-size: 1.2rem
}
